.banner{
    margin-top: 70px;
}
nav{
    background-color:whitesmoke;
}
nav li:hover{
    background-color: gray;
}
#items{
    display: flex; 
    flex-wrap: wrap;
    padding:0 100px;
    grid-gap: 37px;
} 
#items img{
    width: 300px;
    border-radius: 10px;
}
.food-item{
    border: 1px darkgray;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    background-color: darkgrey;
}
.food-item:hover{
    background-color: gray;
    cursor: pointer;
}
#itemsDetails{
    margin: 10px auto;
    display: none;
    border: 2px gray;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 35%;
}
#itemsDetails img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
#item-name{
    width: 80%;
    float: left;
}
#back{
    float: right;
}